@model WebApplication1.Models.Asset

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BmedNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BmedNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cname2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cname2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Standard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Standard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisposeKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisposeKind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelivDpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelivDpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelivUid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelivUid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DelivEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelivEmp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccDpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccDpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskLvl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskLvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MacAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MacAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WartySt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WartySt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WartyEd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WartyEd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsDpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsDpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rtp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rtp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rtt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rtt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssetNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
