@model WebApplication1.Models.QryAssetViewModel

@{
    ViewBag.Title = "資產設備列表";
}

<h2>資產設備列表</h2>


@using (Html.BeginForm("Index", "Assets", FormMethod.Post,
               new { id = "frmASSETLIST" }))
{
<div class="form-horizontal">

    <div class="form-group form-inline">
        <div class="col">
            @Html.LabelFor(model => model.AssetNo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.AssetNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssetNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col">
            @Html.LabelFor(model => model.AssetName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.AssetName, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入關鍵字" } })
                @Html.ValidationMessageFor(model => model.AssetName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col">
            @Html.LabelFor(model => model.AssetCName2, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.AssetCName2, new { htmlAttributes = new { @class = "form-control", placeholder = "輸入關鍵字" } })
                @Html.ValidationMessageFor(model => model.AssetCName2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group form-inline">
        <div class="col">
            @Html.LabelFor(model => model.RiskLvl, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.RiskLvl, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RiskLvl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col">
            @Html.LabelFor(model => model.QryType, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.QryType, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QryType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group form-inline">
        <div class="col form-inline">
            <div class="col-md-4">
                <input id="btnQTY" type="button" value="查詢" class="btn btn-primary col" />
            </div>
            <div class="col-md-8">
                <img id="imgLOADING" src="~/Content/Images/opc-ajax-loader.gif" style="display: none" />
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

}

<div id="pnlASSETLIST" style="margin-top: 40px">

</div>

<script>
    $(function () {
        var page = window.location.hash
            ? window.location.hash.slice(1) : 1;
        //fetchPage(page);
        $('#btnQTY').click(function () {
            fetchPage(1);
        });

        $('.modal').on('shown.bs.modal', function () {
            //Make sure the modal and backdrop are siblings (changes the DOM)
            $(this).before($('.modal-backdrop'));
            //Make sure the z-index is higher than the backdrop
            $(this).css("z-index", parseInt($('.modal-backdrop').css('z-index')) + 1);
        });
    });
    var fetchPage = function (page) {
        var pagedPartialUrl = '@Url.Action("Index", "Assets")';
        var s = $('#frmASSETLIST').serialize();
        $('#imgLOADING').show();
        $.ajax({
            url:pagedPartialUrl,
            type: "POST",
            data: s + "&page=" + page,
            success: function (data) {

                window.location.hash = page;

                $('#pnlASSETLIST').html(data);

                $('#pnlASSETLIST .pagination li a').each(function (i, item) {
                    var hyperLinkUrl = $(item).attr('href');
                    if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                        var pageNumber = $(item).attr('href').replace(pagedPartialUrl + '?page=', '');
                        $(item).attr('href', '#').click(function (event) {
                            event.preventDefault();
                            $(event.target).attr('href');
                            fetchPage(pageNumber);
                        });
                    }
                });
                $('#imgLOADING').hide();
            }
        });
    };
</script>
